

*,
*::before,
*::after {
    box-sizing: border-box;}


.fixed-background {
    background-image: url("/src/images/background4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}



.container{
    background-color: rgba(34, 49, 63, 0.7);
    padding: 20px;
    max-width: 1000px;
    width: 90%;
    border: #1a252f 5px solid;
    box-shadow: 10px 10px 10px gray;
    border-radius: 30px;
    text-align: center;
    margin: 50px;
}

body{
    font-family: "Fira Code", monospace ;
    font-size: 12px;
    margin: 0 75px 0 75px;
    align-content: center;
    background-color: black;
    list-style-position: inside;

}

.profile_img {
    position: fixed;
    right: 6%;
    top: 10%;
    border-radius: 10px;
    border: #1a252f 5px solid;
    box-shadow: 10px 10px 10px gray;
}

.text_blocks {
    background-color: rgba(44, 62, 80, 0.9);
    border: #1a252f 5px solid;
    margin: 10px 100px 10px 100px;
    padding: 5px;
    text-align: center;
    color: #f5f5f5;
    box-shadow: 10px 10px 10px gray;



}

.small_text_blocks {
    margin:  10px 30% 10px 30%;
    padding: 5px;
    text-align: left;

}


h2{

    margin: 5px 5px -5px 5px;
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #82cfff;


}

.haiku{
    text-align: center;
}


h1 {
    font-family: "Segoe Script", cursive;
    text-align: center;
    font-size: 40pt;
    border: 3px solid #82cfff;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
    text-shadow: 1px 1px 1px #82cfff;
    background-color: rgba(130, 207, 255, 0.18);
}


table{
    width: 100%;
    table-layout: fixed;
    border: 5px solid #1a252f;
    border-collapse: collapse;
    color: black;
    box-shadow: 10px 10px 10px gray;
}

th{
    background-color: #8da68d ;
    color: white;
    border: 2px solid #1a252f;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

td {
    border: 2px solid #1a252f;
    text-align: center;
    padding: 10px 10px;

}

tr:nth-child(even) {
    background-color: lightgrey;
}
tr:nth-child(odd) {
    background-color: white;
}

/* when you hover over a row with cursor, background color will get darker */
tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.work_schedule{
    background-color: #f7a5a0;
}
.db_class_schedule{
    background-color: #a0c4f2;
}
.webdev_class_schedule{
    background-color: #80e4e8;
}
.webprog_class_schedule{
    background-color: #fff0a0;
}
.sys_class_schedule{
    background-color: #d3d3d3;
}
.homework_schedule{
    background-color: #bca9d8;
}

a {
    text-decoration: none  ;
    color: #00bcd4;
}

a:hover {
    text-decoration: underline;
    color: #008ba3;
}




